# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file.
# This file also has a username field, that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
#MAILTO=

# m h dom mon dow user	command
1 */2 	* * *	root	run-parts /etc/cron.hourly
42 6	* * *	root	run-parts /etc/cron.daily
47 6	* * 7	root	run-parts /etc/cron.weekly
52 6	1 * *	root	run-parts /etc/cron.monthly

# tests

#*/1 * * * *	root /root/cmd/isalive 192.168.1.3
#*/3 * * * *	root wave -c 220 4 
#*/15 * * * *	root (wave -c 440 1; wave -c 880 3) 
#*/2 * * * *	root echo "ciao" > /dev/console
#* */2 * * *	root mail -s "Da cron" root%Ciao, amico% 

